<template>
  <div class="infoSelector">
    <div class="row">
      <div class="col-3">
        <label for="fld-boardOfDirectors">Diretorias</label>
        <select id="fld-boardOfDirectors" name="boardOfDirectors" class="form-control" @change="fetchData('supervisors/boards-of-directors/' + $event.target.value, 'supervisors');" v-model="selected.director">
          <option selected="true" disabled="disabled" value="default">Selecione uma Diretoria</option>
          <option v-for="(board, index) in boardOfDirectors" :key="index" :value="board.id">{{ board.name }}</option>
        </select>
      </div>

      <div class="col-3">
        <label for="fld-supervisors">Supervisores</label>
        <select id="fld-supervisors" name="supervisors" class="form-control" @change="fetchData('managers/supervisors/' + $event.target.value, 'managers');" v-model="selected.supervisor">
          <option selected="true" disabled="disabled" value="default">Selecione um Supervisor</option>   
          <option v-for="(supervisor, index) in supervisors" :key="index" :value="supervisor.id">{{ supervisor.name }}</option>
        </select>
      </div>

      <div class="col-3">
        <label for="fld-managers">Gerentes</label>
        <select id="fld-managers" name="managers" class="form-control" v-model="selected.manager">
          <option selected="true" disabled="disabled" value="default">Selecione um Gerente</option>
          <option v-for="(namager, index) in managers" :key="index" :value="namager.id">{{ namager.name }}</option>
        </select>
      </div>

      <div class="col-3">
        <input type="button" class="btn btn-primary" :class="classes" @click="showInformations" value="Ver dados"/>
      </div>
    </div>

    <div class="row">
      <div v-if="showInfo" class="col-12 result">
        <p>Resultado: </p>
        <pre>{{ data }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'info-selector',
  props: [],
  data() {
    return {
      selected: {
        director: 'default',
        supervisor: 'default',
        manager: 'default'
      },
      data: {},
      showInfo: false,
      boardOfDirectors: [],
      supervisors: [],
      managers: []
    }
  },
  methods: {
    async fetchData(url, variable) {
      return await fetch('/api/' + url, {
        method: "GET",
        headers: { "Content-Type": "application/json" },
      }).then((res) => {
        if(res.status == 200) {
          return res.json();
        }
      })
      .then((data) => {
        if(!data) return;

        if(data.success) {
          return this[variable] = data.content;
        }

        alert('Fetch API Error.', data.error);
        return this[variable] = [];
      });
    },
    showInformations() {
      this.boardOfDirectors.find((director) => {
        if(director.id == this.selected.director) {
          this.data['Diretoria Nome'] = director.name;
          this.data['Diretoria Id'] = director.id;
        }
      });

      this.supervisors.find((supervisor) => {
        if(supervisor.id == this.selected.supervisor) {
          this.data['Supervisor Nome'] = supervisor.name;
          this.data['Supervisor Id'] = supervisor.id;
        }
      });

      this.managers.find((manager) => {
        if(manager.id == this.selected.manager) {
          this.data['Gerente Nome'] = manager.name;
          this.data['Gerente Id'] = manager.id;
        }
      });

      this.showInfo = true;
    }
  },
  computed: {
    classes() {
      return {
        'disabled': this.selected.manager == 'default',
      }
    }
  },
  created() {
    this.fetchData('boards-of-directors', 'boardOfDirectors');
  },
}
</script>

<style lang="scss">
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
  }
  .infoSelector {
    background: #dddddd;
    padding: 30px;
    min-height: 300px;
    select {
      cursor: pointer;
    }
    .btn {
      margin: 23px 0 0 auto;
      display: block;
    }
    .result {
      margin: 30px 20px 20px 20px;
      padding: 10px;
      p {
        margin: 10px 0;
      }
    }
  }
}
</style>
